<%= render :partial => "header" %>

<div>
  <!-- TITLE -->
  <h2><%= @post.title %></h2>

  <!-- DATE -->
  <span>Date: <%= @post.date %></span>

  <!-- CATEGORIES -->
  <% if @post.categories.size > 0 %>
    <span>Posted in: <%= post.category_links_string %></span>
  <% end %>

  <!-- CONTENT -->
  <div><%= @post.content.html_safe %></div>
</div>
