<div style="margin-bottom:2em;">
  <!-- TITLE -->
  <a href="<%= blog_post_path(post) %>" title="Read this post"><h2><%= post.title %></h2></a>

  <!-- DATE & CATEGORIES -->
  <p>
    <span>Published at <em><%= post.date %></em> <% if post.categories.size > 0 %>in:<% end %></span>
    <% if post.categories.size > 0 %>
      <ul>
        <% post.categories.each do |c| %>
        <li><a href="<%= blog_category_path(c) %>" title="<%= c.name %>"><%= c.name %></a></li>
        <% end %>
      </ul>
    <% end %>
  </p>

  <!-- FEATURED IMAGE LINK -->
  <% if post.has_featured_image? %>
    <p>
      <a href="<%= blog_post_path(post) %>" title="Read More">
        <%= image_tag post.featured_image_url, :alt=>post.title %>
      </a>
    </p>
  <% end %>

  <!-- EXCERPT -->
  <p><%= post.excerpt %></p>

  <!-- READ MORE -->
  <a href="<%= blog_post_path(post) %>" title="Read More">Read More</a>
</div>
